.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222831; /* pure white */
  /* color: #333; */
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* subtle shadow */
  /* border-bottom: 2px solid #eee; */
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.highlight {
  color: rgb(139, 245, 255);
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;
}

nav {
  display: flex;
  gap: 4rem;
  padding-right: 100px;
}

nav a {
  text-decoration: none;
  color: rgb(139, 245, 255);
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav a:hover {
  color: #0d5589;
}

/* ===== Mobile Menu Toggle ===== */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: rgb(133, 4, 4);
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.4s;
}

/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(90deg, #b99ca3, #ff4b2b);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  nav.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }
}