.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #13171c;
  padding: 0.8rem 2rem;
  top: 0;
  z-index: 100;
  /* keep high so overlay sits below nav but above page */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}

.highlight {
  color: rgb(139, 245, 255);
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-left: 50px;
}

nav {
  display: flex;
  gap: 4rem;
  padding-right: 100px;
}

nav a {
  text-decoration: none;
  color: rgb(139, 245, 255);
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

nav a:hover {
  color: #0d5589;
}

.overlay {
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.356);
  z-index: 90;
}


/* ===== Mobile Menu Toggle ===== */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: rgb(53, 203, 249);
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.4s;
}

/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 60px;
    right: 0;
    background: linear-gradient(90deg, #4c596d, #4c596d);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
  }

  nav.open {
    transform: translateX(0);
    position: relative;
  }

  .menu-toggle {
    display: flex;
  }
}