<header class="navbar">
  <div class="logo">
    <span class="highlight">Yogesh Shete</span>
  </div>

  <nav [class.open]="menuOpen">
    <a routerLink="/home" (click)="scrollToSection('home')">Home</a>
    <a routerLink="/experience" (click)="scrollToSection('experience')">Experience</a>
    <a routerLink="/services" (click)="scrollToSection('projects')">Projects</a>
    <a routerLink="/about" (click)="scrollToSection('Education')">Education</a>
    <a routerLink="/contact" (click)="scrollToSection('Contact')">Contact</a>
  </nav>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<!-- New hero section starts here -->
<section class="hero-section">
  <div class="hero-content">
    <!-- Left: Text -->
    <div class="text-area">
      <h1>
        I am <span class="typing">{{ displayedText }}</span>
      </h1>

      <p class="intro">
        Hey there! I'm <strong>Yogesh Shete</strong> — a <strong>Computer Engineering graduate</strong> from
        PES Modern College of Engineering (SPPU), where I wrapped up my degree with a CGPA of <strong>8.88</strong>.
        <br /><br />
        Currently, I’m working as a <strong>Software Engineer Trainee</strong> at
        <strong>Yardi Software India Pvt. Ltd.</strong>, where I get to transform ideas into meaningful, working
        software.
        I love solving real-world problems through clean, creative, and efficient code.
        <br /><br />
        <span *ngIf="isMobileView && !isExpanded" (click)="toggleExpanded(true)">Read More</span>
        <span *ngIf="(isMobileView && isExpanded) || !isMobileView">
          When I’m not coding, you’ll often find me sketching <strong>real-life portraits</strong> or geeking out about
          the
          latest tech innovations. I believe art and technology share the same spirit — creativity, precision, and impact.
          <br /><br />
          Always curious, always learning, and always open to new collaborations —
          let’s connect and <strong>build something amazing together!</strong>
        </span>
        <br /><br />
        <span *ngIf="isMobileView && isExpanded" (click)="toggleExpanded(false)">Read Less</span>
      </p>
    </div>


    <!-- Right: Photo -->
    <div class="photo-area">
      <img src="assets/myPhoto.jpg" alt="My Photo" />
    </div>
  </div>
</section>