<!-- New hero section starts here -->
<section class="hero-section">
  <div class="hero-content">
    <!-- Left: Text -->
    <div class="text-area">
      <h1>
        I am <span class="typing">{{ displayedText }}</span>
      </h1>

      <p class="intro">
        Hi! I’m a <strong>Software Engineer at Yardi Software India</strong>, passionate about building clean,
        reliable, and creative solutions.
        <br /><br />

        <span *ngIf="isMobileView && !isExpanded" (click)="toggleExpanded(true)">Read More</span>

        <span *ngIf="(isMobileView && isExpanded) || !isMobileView">
          I completed my <strong>Computer Engineering</strong> degree with a
          <strong>CGPA of 8.88</strong> from PES Modern College of Engineering, SPPU.
          <br /><br />

          Outside of coding, I love sketching <strong>real-life portraits</strong> and staying curious
          about the latest trends in tech.
          <br /><br />
          <span class="clickable-text" (click)="goToArtworks()">Check out my artworks here.</span>

          <span *ngIf="isMobileView && isExpanded" (click)="toggleExpanded(false)">Read Less</span>
        </span>
      </p>

    </div>


    <!-- Right: Photo -->
    <div class="photo-area">
      <img src="assets/Artworks/myPhoto.jpg" alt="My Photo" />
    </div>
  </div>
</section>